//@30
// ------------------------- Custom -------------------------------
/// <summary>
/// Remote environment.
/// </summary>
{{>visibility}} enum Environment
{
    Development,
    Production,
}
// ------------------------^ Custom ^------------------------------