// This logic may be modified with the AsModel.mustache template
return Is{{vendorExtensions.x-http-status}}
    ? System.Text.Json.JsonSerializer.Deserialize<{{#isModel}}{{^containerType}}{{/containerType}}{{/isModel}}{{{dataType}}}>(RawContent, _jsonSerializerOptions)
    : throw new ApiException((int)StatusCode, ReasonPhrase ?? "", StatusCode, Headers.ToMultimap());
